<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Home Page</title>
    <link rel="stylesheet" href="css/home.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <img src="images/sym.png" width="30" height="30" class="d-inline-block align-top" alt="">
   
          <a class="navbar-brand" href="/">EMPLOYEE DIGITAL DIARY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link" href="/show">Show Data</a>
              <a class="nav-link" href="/add">Add Data</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="text-center">
          <h1>Welcome to Addition of Employee Data page</h1>
        </div>
      </div>

        <form action="/add" method="post">
            
              
                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Please enter name</label>
                    <input class="form-control" id="formGroupExampleInput" name="name" type="text" placeholder="Type Name">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Please enter email id</label>
                    <input  class="form-control" id="formGroupExampleInput2" name="email" type="text" placeholder="Type Email id">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Please enter designation id</label>
                    <input  class="form-control" id="formGroupExampleInput2" name="desig" type="text" placeholder="Employee Designation">
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Joining date </label>
                    <input  class="form-control" id="formGroupExampleInput2" name="jdate" type="date">
                  </div>
                <button class="btn btn-primary " type="submit">Save Details</button>
        </form>
</body>
</html>